@import url('variables.css');

/* Use this peice of code to wrap text more neatly. ex:

.r {
    text-wrap: balance;
} 

*/

header nav {
    display: flex;
    list-style: none;
    justify-content: center
}

.button {
    outline-color:transparent;
}

.button:is(:hover, :focus) {
    box-shadow: 0 0 0 3px var(--color-gold);
}

.container {
    width: clamp(3rem, 80%, 1200px);
    margin: 0 auto;
    padding: 2em;
}