*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin:0;
    width: 100vw;
}

:root {
--color-gold: #d4af37;
--color-lgrey: #e5e0d8;
--color-copper: #8e734b;
--color-dgrey: #4a4e4d;
--color-black: #1a1a1b;
--main-font: 'Red Hat Display', sans-serif;
}

h1 {
    font-size: clamp(1.8rem, 7vw + 1rem, 5rem);
}
