*, *:before, *:after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
}

:root {
--color-gold: #d4af37;
--color-lgrey: #e5e0d8;
--color-copper: #8e734b;
--color-dgrey: #4a4e4d;
--color-back: #1a1a1b;
--main-font: 'Red Hat Display', sans-serif;
}

